<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'newGame.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input
        [label]="'newGame.saveName' | translate"
        labelPlacement="stacked"
        [placeholder]="saveNamePlaceholder"
        [(ngModel)]="saveName">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        [label]="'newGame.difficulty' | translate"
        labelPlacement="stacked"
        [(ngModel)]="difficulty">
        <ion-select-option value="easy">{{ 'newGame.easy' | translate }}</ion-select-option>
        <ion-select-option value="medium">{{ 'newGame.medium' | translate }}</ion-select-option>
        <ion-select-option value="hard">{{ 'newGame.hard' | translate }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="button-container">
    <ion-button expand="block" (click)="createGame()" [disabled]="!saveName.trim()">
      {{ 'newGame.start' | translate }}
    </ion-button>
  </div>
</ion-content>