<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouvelle partie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input
        label="Nom de la partie"
        labelPlacement="stacked"
        placeholder="Ma partie"
        [(ngModel)]="saveName">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-select
        label="Difficulté"
        labelPlacement="stacked"
        [(ngModel)]="difficulty">
        <ion-select-option value="easy">Facile</ion-select-option>
        <ion-select-option value="medium">Normal</ion-select-option>
        <ion-select-option value="hard">Difficile</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="button-container">
    <ion-button expand="block" (click)="createGame()" [disabled]="!saveName.trim()">
      Commencer
    </ion-button>
  </div>
</ion-content>