<ion-content [fullscreen]="true">
  <div class="menu-container">
    <h1>{{ 'menu.title' | translate }}</h1>
    <div class="menu-buttons">
      @if(lastSave) {
      <ion-button expand="block" (click)="continueGame()">
        <ion-icon slot="start" name="game-controller-outline"></ion-icon>
        {{ 'menu.continue' | translate }}
      </ion-button>
      }
      <ion-button expand="block" (click)="newGame()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        {{ 'menu.newGame' | translate }}
      </ion-button>

      <ion-button expand="block" (click)="loadGame()">
        <ion-icon slot="start" name="folder-open-outline"></ion-icon>
        {{ 'menu.loadGame' | translate }}
      </ion-button>

      <ion-button expand="block" (click)="openSettings()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        {{ 'menu.settings' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>