<ion-content [fullscreen]="true">
  <div class="menu-container">
    <h1>Mon Jeu</h1>

    <div class="menu-buttons">
      <ion-button expand="block" (click)="newGame()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Nouvelle partie
      </ion-button>

      <ion-button expand="block" (click)="loadGame()">
        <ion-icon slot="start" name="folder-open-outline"></ion-icon>
        Charger partie
      </ion-button>

      <ion-button expand="block" (click)="openSettings()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        Options
      </ion-button>
    </div>
  </div>
</ion-content>